<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :name, style: "display: block; width: 100%;" %>
    <%= form.text_field :name, style: "width: 100%;" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :provider_id, style: "display: block; width: 100%;" %>
    <%= form.text_field :provider_id, style: "width: 100%;" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :industry, style: "display: block; width: 100%;" %>
    <%= form.text_field :industry, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
