<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :fatherly, style: "display: block" %>
    <%= form.text_field :fatherly %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth, style: "display: block" %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :gender, style: "display: block" %>
    <%= form.select :gender, ['male', 'female'], prompt: "Select gender" %>
  </div>

  <div class="field">
    <%= form.label :telephone, style: "display: block" %>
    <%= form.text_field :telephone %>
  </div>

  <!-- Add field for currency preference -->
  <div class="field">
    <%= form.label :currency, style: "display: block" %>
    <%= form.select :currency, ['USD', 'EUR', 'UAH'], prompt: "Select currency" %>
  </div>

  <!-- Add avatar upload field -->
  <div class="field">
    <%= form.label :avatar, style: "display: block" %>
    <%= form.file_field :avatar %>
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>