<div id="<%= dom_id(profile) %>">
  <p>
    <strong>User Email:</strong>
    <%= profile.user.email %>
  </p>

  <p>
    <strong>User Role:</strong>
    <%= profile.user.role %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= profile.surname %>
  </p>

  <p>
    <strong>Fatherly:</strong>
    <%= profile.fatherly %>
  </p>

  <p>
    <strong>Date of Birth:</strong>
    <%= profile.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= profile.telephone %>
  </p>

  <!-- Show currency preference -->
  <p>
    <strong>Currency Preference:</strong>
    <%= profile.currency %>
  </p>

  <p>
    <strong>Exchange Rate:</strong>
    <% exchange_rate = profile.exchange_rate_to_usd %>
    <% if exchange_rate %>
      <%= number_to_currency(exchange_rate.to_f, unit: "USD ", precision: 2) %>
    <% else %>
      N/A <!-- or any message you prefer -->
    <% end %>
  </p>
  <!-- Show avatar -->
  <% if profile.avatar.present? %>
    <%= image_tag profile.avatar_url(:thumb) %>

    <!-- Clear Avatar Button -->
    <%= button_to "Clear Avatar", clear_avatar_profile_path(profile), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to clear the avatar?" } %>
  <% else %>
    <p>No avatar uploaded.</p>
  <% end %>
  <!-- Show payments only if the user's role is 'client' -->
  <% if profile.user.role == "client" %>
    <h2>Your Payments</h2>
    <% if @payments.present? && @payments.any? %>
      <ul>
        <% @payments.each do |payment| %>
          <li>
            <strong>Payment Date:</strong> <%= payment.date %><br>
            <strong>Poster:</strong> <%= payment.poster.name %><br>
            <!-- Add any other payment details you want to display -->
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No payments made yet.</p>
    <% end %>
  <% end %>

  <!-- Show days with payments for posters created by the corresponding provider -->
  <% if profile.user.role == "provider" && @payments_for_posters.present? %>
    <h2>Days with Payments for Your Posters</h2>
    <% @payments_for_posters.each do |poster, payments| %>
      <h3><%= poster.name %></h3>
      <% if payments.present? && payments.any? %>
        <ul>
          <% payments.each do |payment| %>
            <li>
              <strong>Payment Date:</strong> <%= payment.date %><br>
              <!-- Add any other payment details you want to display -->
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No payments made for this poster yet.</p>
      <% end %>
    <% end %>
  <% elsif profile.user.role == "provider" %>
    <p>No posters created yet.</p>
  <% end %>
</div>