<%= form_with(model: poster) do |form| %>
  <% if poster.errors.any? %>
    <div style="color: red; text-align: center;">
      <h2><%= pluralize(poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
        <% poster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px; text-align: center;">
    <%= form.label :description, style: "display: block; width: 100%; text-align: left;" %>
    <%= form.text_area :description, style: "width: 300px;" %>
  </div>

  <div style="margin-bottom: 10px; text-align: center;">
    <%= form.label :price, style: "display: block; width: 100%; text-align: left;" %>
    <%= form.text_field :price, style: "width: 300px;" %>
  </div>

  <div style="margin-bottom: 10px; text-align: center;">
    <%= form.label :service_id, style: "display: block; width: 100%; text-align: left;" %>
    <%= form.text_field :service_id, style: "width: 300px;" %>
  </div>

  <div style="text-align: center;">
    <%= form.submit %>
  </div>
<% end %>
