<p style="color: green"><%= notice %></p>

<%= render @poster %>

<div>
  <%= link_to "Edit this poster", edit_poster_path(@poster) %> |
  <%= link_to "Back to posters", posters_path %>

  <%= button_to "Destroy this poster", @poster, method: :delete %>
</div>
