<%= form_with(model: group_membership, local: true) do |form| %>
  <% if group_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_membership.errors.count, "error") %> prohibited this group_membership from being saved:</h2>

      <ul>
        <% group_membership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.collection_select :group_id, Group.all, :id, :name, include_blank: true, selected: group_membership.group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
