<div style="text-align: center;">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field" style="margin-bottom: 10px; text-align: left;">
      <%= f.label :email, style: "display: block;" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 100%;" %>
    </div>

    <div class="field" style="margin-bottom: 10px; text-align: left;">
      <%= f.label :password, style: "display: block;" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", style: "width: 100%;" %>
    </div>

    <div class="field" style="margin-bottom: 10px; text-align: left;">
      <%= f.label :password_confirmation, style: "display: block;" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 100%;" %>
    </div>

    <div class="actions" style="text-align: left;">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
