<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :name, style: "display: block; width: 100%;" %>
    <%= form.text_field :name, style: "width: 100%;" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :email, style: "display: block; width: 100%;" %>
    <%= form.text_field :email, style: "width: 100%;" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :phone, style: "display: block; width: 100%;" %>
    <%= form.text_field :phone, style: "width: 100%;" %>
  </div>

  <div style="text-align: center;">
    <%= form.submit %>
  </div>
<% end %>
