<p style="color: green; text-align: center;"><%= notice %></p>

<%= render @account %>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", @account, method: :delete %>
</div>
