<div id="<%= dom_id review %>">
  <p>
    <strong>Poster:</strong>
    <%= review.poster.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.email %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>
</div>
